extends ./layout/index

block contenido
    .container
        h1 Editar Viaje
        if errores
            .alert.alert-danger
                ul
                    each error in errores
                        li= error.mensaje
        form(action=`/viajes/editar/${slug}`, method="POST")
            .mb-3
                label(for="titulo") Título
                input.form-control(type="text", id="titulo", name="titulo", value=titulo, required)
            .mb-3
                .row
                    .col
                        label(for="precio") Precio
                        .input-group
                            span.input-group-text
                                | €
                            input.form-control(type="text", id="precio", name="precio", value=precio, required)
                    .col
                        label(for="disponibles") Disponibles
                        .input-group
                            span.input-group-text
                                svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='none' stroke='red' stroke-linecap='round' stroke-linejoin='round' width='16' height='16' stroke-width='2')
                                    path(d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0')
                                    path(d='M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0')
                            input.form-control(type="text", id="disponibles", name="disponibles", value=disponibles, required)
            .mb-3
                .row
                    .col
                        label(for="fecha_ida") Fecha de Ida
                        input.form-control(type="date", id="fecha_ida", name="fecha_ida", value=fecha_ida, required)
                    .col
                        label(for="fecha_vuelta") Fecha de Vuelta
                        input.form-control(type="date", id="fecha_vuelta", name="fecha_vuelta", value=fecha_vuelta, required)
            .mb-3
                .row
                    .col
                        label(for="imagen") Imagen
                        input.form-control(type="text", id="imagen", name="imagen", value=imagen, required)
                    .col
                        label(for="slug") Slug
                        input.form-control(type="text", id="slug", name="slug", value=slug, required)
            .mb-3
                label(for="descripcion") Descripción
                textarea.form-control(id="descripcion", name="descripcion", style="height: 280px" required)= descripcion
            .mb-3
                button.btn.btn-success.px-3(type="submit") Guardar Viaje